html,
body {
  margin: 0;
  padding: 10px 0 30px 10px;
}

body {
  #menu {
    display: none;
  }

  .data_type {
    display: none;

    .type {
      display: none;
    }
  }

  .data_table {
    th {
      cursor: pointer;
    }

    td, th {
      padding: 4px 8px;
    }

    tr:nth-child(even) {
      background-color: white;
    }

    tr:nth-child(odd) {
      background-color: #E7E9EB;
    }
  }

  .mana_symbol {
    height: 14px;
    width: 14px;
  }
}

a {
  color: black;
}