body {
  #menu {
    display: none;
  }

  .data_type {
    display: none;

    .type {
      display: none;
    }
  }

  #data_tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .data_table, .colour_data_table {
      &:not(#ci_table_0):not(#ci_table_1):not(#ci_table_2):not(#ci_table_3):not(#ci_table_4):not(#ci_table_5) {
        th {
          cursor: pointer;
        }
      }

      td,
      th {
        padding: 4px 8px;
      }

      tr#header {
        background-color: #3b3c3d;
        color: white;
      }

      tr:nth-child(even) {
        background-color: #e0e9f0;
      }

      tr:nth-child(odd) {
        background-color: #ffffe9;
      }

      tr#total:nth-child(even) {
        background-color: #e0e9f0;
      }

      tr#total:nth-child(odd) {
        background-color: #ffffe9;
      }

      tr#bins:nth-child(even) {
        background-color: #E7E9EB;
      }

      tr#bins:nth-child(odd) {
        background-color: white;
      }

      .deck_commander {
        display: none;
      }

      .deck_partner {
        display: none;
      }

      .deck_companion {
        display: none;
      }

      .deck_last_played {
        display: none;
      }
    }
  }

  .mana_symbol {
    height: 14px;
    width: 14px;
  }
}
