body {
  #menu {
    display: none;
  }

  .data_type {
    display: none;

    .type {
      display: none;
    }
  }

  #data_tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .data_table,
    .colour_data_table {
      &:not(#ci_table_0):not(#ci_table_1):not(#ci_table_2):not(#ci_table_3):not(#ci_table_4):not(#ci_table_5) {
        th {
          cursor: pointer;
        }
      }

      td,
      th {
        padding: 4px 8px;
      }

      tr#header {
        background-color: #3b3c3d;
        color: white;
      }

      tr.total_row {
        cursor: pointer;
      }

      tbody:nth-child(even) {
        tr.total_row {
          background-color: #ffffe9;
        }

        tr.bins_row:nth-child(even) {
          background-color: #E7E9EB;
        }

        tr.bins_row:nth-child(odd) {
          background-color: white;
        }
      }

      tbody:nth-child(odd) {
        tr.total_row {
          background-color: #e0e9f0;
        }

        tr.bins_row:nth-child(even) {
          background-color: white;
        }

        tr.bins_row:nth-child(odd) {
          background-color: #E7E9EB;
        }
      }

      .deck_commander {
        display: none;
      }

      .deck_partner {
        display: none;
      }

      .deck_companion {
        display: none;
      }

      .deck_last_played {
        display: none;
      }
    }
  }

  .mana_symbol {
    height: 14px;
    width: 14px;
  }
}
