html,
body {
  margin: 0;
  padding: 10px 0 30px 10px;
}

body {
  #menu {
    display: none;
  }

  .data_type {
    display: none;

    .type {
      display: none;
    }
  }

  #data_tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .data_table, .colour_data_table {
      &:not(#ci_table_0):not(#ci_table_1):not(#ci_table_2):not(#ci_table_3):not(#ci_table_4):not(#ci_table_5) {
        th {
          cursor: pointer;
        }
      }

      td,
      th {
        padding: 4px 8px;
      }

      tr:nth-child(even) {
        background-color: white;
      }

      tr:nth-child(odd) {
        background-color: #E7E9EB;
      }
    }
  }

  .mana_symbol {
    height: 14px;
    width: 14px;
  }
}

a {
  color: black;
}