html,
body {
  margin: 0;
  padding: 10px 0 30px 10px;
}

body {
  ul {
    list-style-type: none;
  }

  .data_input {
    display: none;

    .type {
      display: none;
    }
  }
}

a {
  color: black;
}