html {
  margin: 0;
}

body {
  min-height: calc(100vh - 20px);
  position: relative;
  padding: 0 0 10px 10px;
}

body::after {
  content: '';
  display: block;
  height: 20px;
}

a {
  color: black;
}
