Binned by:
<select name="bins" id="bins">
  <option value="" selected disabled hidden>Choose bin (optional)</option>
  <option value="opp_player">Opponent (player)</option>
  <option value="opp_deck">Opponent (deck)</option>
  <option value="opp_ci">Opponent (colour identity)</option>
  <option value="opp_num_colours">Opponent (number of colours)</option>
  <option value="num_players">Number of Players</option>
  <option value="seat">Position in Turn Order</option>
  <option value="result">Result</option>
  <option value="game_time">Game Length (time)</option>
  <option value="game_turns">Game Length (turns)</option>
  <option value="first_KO">First KO turn</option>
  <option value="self_KO">Self KO turn</option>
  <option value="start_time">Start Time</option>
  <option value="end_time">End Time</option>
  <option value="dow">Day of Week</option>
  <option value="month">Month</option>
  <option value="year">Year</option>
  <option value="borrowed">Pilot</option>
</select>
