<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/data.css">
    <script type="text/javascript" src="../static/js/data.js"></script>
    <link rel="icon" type="img/png" href="../static/img/card_back.png">
    <title>M:tG Game Logger</title>
  </head>

<body pg-name="data" js="off">
    {% include "header.html" %}
    <table class="data_table" id="deck">
      <tr>
        <td>Deck Name</td>
        <td>Owner Name</td>
        <td>Colour Identity</td>
      </tr>
      {% for deck in decks %}
      <tr>
        <td>{{ deck.commander }}</td>
        <td>{{ deck.player.name }}</td>
        <td>{{ deck.colour_identity.colour_identity }}</td>
      </tr>
      {% endfor %}
    </table>
    <table class="data_table" id="player">
      <tr>
        <td>Player Name</td>
        <td>Number of Decks</td>
      </tr>
      {% for player in players %}
      <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.decks | length }}</td>
      </tr>
      {% endfor %}
    </table>
    {% include "footer.html" %}
    <noscript><style>body { visibility: visible; }</style></noscript>
</body>
</html>
