{% extends "main.html" %}

  {% block head %}
  <link rel="stylesheet" type="text/css" href="../static/css/data.css">
  <link rel="stylesheet" type="text/css" href="../static/css/error.css">
  <link rel="stylesheet" type="text/css" href="../static/css/ci_dropdown.css">
  <script type="text/javascript" src="../static/js/data.js"></script>
  <script type="text/javascript" src="../static/js/ci_dropdown.js"></script>
  <title>M:tG Game Logger</title>
  {% endblock head %}

{% block body %}
<body pg-name="data" js="off">
  {% block error %}
  {% endblock error %}
  <div id="dropdown">
    Sort by:
    <select name="data_types" id="data_types" onchange="toggleDataType()">
      <option value="" selected disabled hidden>Choose data type</option>
      <option value="colour_identity">Colour Identity</option>
      <option value="deck">Deck</option>
      <option value="game">Game</option>
      <option value="player">Player</option>
    </select>
  </div>

  <div id="menu">
    Under the following conditions (leave a condition blank for no restriction):<br>
    <datalist id="players">
      {% for player in data["players"] %}
      <option value="{{ player.player_name }}">
        {% endfor %}
    </datalist>

    <div class="data_type" id="colour_identity">
      <form action="/data" method="POST">
        <input class="type" type="text" id="type" name="type" value="colour_identity">
        <label for="player_name">&emsp;Player Name = </label>
        <input type="text" id="player_name" name="player_name" list="players" autocomplete="off">
        <br><input type="submit" value="Submit">
      </form>
    </div>

    <div class="data_type" id="deck">
      <form action="/data" method="POST">
        <input class="type" type="text" id="type" name="type" value="deck">
        <label for="player_name">&emsp;Owner Name = </label>
        <input type="text" id="player_name" name="player_name" list="players" autocomplete="off">
        <div>
          Colour Identity:
          <div>
          {% include "ci_dropdown.html" %}
          </div>
        </div>
        <br><input type="submit" value="Submit">
      </form>
    </div>

    <div class="data_type" id="game">
      <form action="/data" method="POST">
        <input class="type" type="text" id="type" name="type" value="game">
        <br><input type="submit" value="Submit">
      </form>
    </div>

    <div class="data_type" id="player">
      <form action="/data" method="POST">
        <input class="type" type="text" id="type" name="type" value="player">
        <div>
          Colour Identity:
          <div>
          {% include "ci_dropdown.html" %}
          </div>
        </div>
        <br><input type="submit" value="Submit">
      </form>
    </div>
  </div>

  <div id="data_tables">
    {% if data_type == "colour_identity" %}
    {% for colour_identity_group_by_num_colours in data["colour_identities"] %}
    <table class="colour_data_table" id="{{ colour_identity_group_by_num_colours[1].num_colours }}_colours_table">
      <tr>
        <th onclick="sortColourTables(0)">Colour Identity</th>
        <th onclick="sortColourTables(1)"># Decks</th>
      </tr>
      {% for colour_identity in colour_identity_group_by_num_colours %}
      <tr>
        <td>
          {% if colour_identity.colours == "skip" %}<b>{% endif %}
          {{ colour_identity.ci_name }}{% if colour_identity.colours != "skip" %} (
            {% for colour in colour_identity.colours %}
            <img class="mana_symbol" src="../static/img/mana_{{ colour }}.svg">
            {% endfor %}){% endif %}
          {% if colour_identity.colours == "skip" %}</b>{% endif %}
        </td>
        <td>
          {% if colour_identity.colours == "skip" %}<b>{% endif %}
          {{ colour_identity.number_of_decks }}
          {% if colour_identity.colours == "skip" %}</b>{% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    {% endif %}

    {% if data_type == "deck" %}
    <table class="data_table" id="deck_table">
      <tr>
        <th onclick="sortTable(0)">Deck Name</th>
        <th onclick="sortTable(1)">Owner Name</th>
        <th onclick="sortTable(2)">Colour Identity</th>
      </tr>
      {% for deck in data["decks"] %}
      <tr>
        <td>{{ deck.deck_name }}</td>
        <td>{{ deck.player.player_name }}</td>
        <td>
          {{ deck.colour_identity.ci_name }} (
            {% for colour in deck.colour_identity.colours %}
            <img class="mana_symbol" src="../static/img/mana_{{ colour }}.svg">
            {% endfor %})
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if data_type == "game" %}
    <table class="data_table" id="game_table">
      <tr>
        <th onclick="sortTable(0)">Date</th>
        <th onclick="sortTable(1)">Start Time</th>
        <th onclick="sortTable(2)">Game Length (Time)</th>
        <th onclick="sortTable(3)">Game Length (Turns)</th>
        <th onclick="sortTable(4)">Winner</th>
        {% for i in range(data["num_seats"]) %}
        <th onclick="sortTable({{ i + 5 }})">Player {{ i + 1 }}</th>
        {% endfor %}
      </tr>
      {% for game in data["games"] %}
      <tr>
        <td>{{ (game.start_time|string)[0:10] }}</td>
        <td>{{ (game.start_time|string)[11:16] }}</td>
        <td>{{ game.game_time[:-3] }}</td>
        <td>{{ game.game_turns }}</td>
        <td>{{ game.winner }}</td>
        {% for j in range(game.player|length) %}
        <td>{{ game.player[j].player_name }} - {{ game.deck[j].deck_name }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if data_type == "player" %}
    <table class="data_table" id="player_table">
      <tr>
        <th onclick="sortTable(0)">Player Name</th>
        <th onclick="sortTable(1)">Number of Decks</th>
      </tr>
      {% for player in data["players"] %}
      <tr>
        <td>{{ player.player_name }}</td>
        <td>{{ player.number_of_decks }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
</body>
{% endblock body %}
