<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/graphs.css">
    <script type="text/javascript" src="../static/js/graphs.js"></script>
    <link rel="icon" type="img/png" href="../static/img/card_back.png">
    <title>M:tG Game Logger</title>
  </head>

<body pg-name="graphs" js="off">
    {% include "header.html" %}
    {% if graph_type == "example" %}
    There are two types of graphs available: pie charts and bar charts.<br>
    Below is an example of each, pie on the left and bar on the right, made from the same data.
    i.e. the number of decks each player owns.<br>
    Please click on the type of graph you would like to create, or use the nav bar above, to go to the relevant page.<br>
    <a class="pie" href="/graphs/pie">
      <img src="data:image/png;base64, {{ pie_chart }}">
    </a>
    <a class="pie" href="/graphs/bar">
      <img src="data:image/png;base64, {{ bar_chart }}">
    </a>
    {% endif %}
    {% include "footer.html" %}
    <noscript><style>body { visibility: visible; }</style></noscript>
</body>
</html>
