<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="../static/css/graphs.css">
  <script type="text/javascript" src="../static/js/graphs.js"></script>
  <link rel="icon" type="img/png" href="../static/img/card_back.png">
  <title>M:tG Game Logger</title>
</head>

<body pg-name="graphs" js="off">
  {% include "header.html" %}
  {% if graph_type == "example" %}
  There are two types of graphs available: bar charts and pie charts.<br>
  Below is an example of each, bar on the left and pie on the right, made from the same data.
  i.e. the number of decks each player owns.<br>
  Please use the dropdown list below to select the type of graph you want to create.<br>
  <img src="data:image/svg+xml;base64, {{ example_bar_chart }}">
  <img src="data:image/svg+xml;base64, {{ example_pie_chart }}">
  {% elif plt_graph is defined %}
  <img src="data:image/svg+xml;base64, {{ plt_graph }}">
  {% endif %}

  {% if advanced == True %}
  <div id="spiel">
    So, you've decided my graphing options are too restrictive for you?<br>
    You've decided that you don't want to have to plot all data at once, but would prefer subsets based on your coniditions?<br>
    You've decided that you want a pie chart showing decks by colour idenitity, but only for a specific player?<br>
    You've decided that you want a bar chart showing the number of decks owned by each player, but only for the specified colours or colour identities?<br>
    Well, you've come to the right place... at the wrong time :(<br>
    I'm still thinking about how best to implement this and have decided that it's best to go ahead with adding the game data capabilities to the database.<br>
    Ultimately there are infinite minor improvements I could make to the current state of this app, but I want to actually get an MVP out the door, so have to prioritise.<br>
    But watch this space, it'll come eventually!
  </div>
  {% else %}
  <div id="dropdown">
    Data type:
    <select name="data_types" id="data_types" onchange="toggleGraphType()">
      <option value="" selected disabled hidden>Choose input data type</option>
      <option value="bar">Bar chart</option>
      <option value="pie">Pie chart</option>
    </select>
  </div>

  <div id="menu">
    <datalist id="data_type">
      <option value="deck">
    </datalist>
    <datalist id="deck_bins_and_x_axis">
      <option value="colour">
      <option value="colour identity">
      <option value="number of colours">
      <option value="owner">
    </datalist>
    <datalist id="deck_y_axis">
      <option value="number of decks">
    </datalist>

    <div class="data_input" id="bar">
      <h2>Bar Chart</h2>
      <form action="/graphs" method="POST">
        <input class="type" type="text" id="type" name="type" value="bar">
        <label for="bar_data">Data Type: </label>
        <input type="search" id="bar_data" name="bar_data" list="data_type" autocomplete="off" onchange="changeBarColumnOptions()"><br>
        <label for="bar_y">Y axis: </label>
        <input type="search" id="bar_y" name="bar_y" autocomplete="off"><br>
        <label for="bar_x">X axis: </label>
        <input type="search" id="bar_x" name="bar_x" autocomplete="off"><br>
        <label>
          Remove zero values from graph?
          <input type="checkbox" id="no_zeroes" name="no_zeroes">
        </label><br>
        <input type="submit" value="Make bar">
      </form>
    </div>

    <div class="data_input" id="pie">
      <h2>Pie Chart</h2>
      <form action="/graphs" method="POST">
        <input class="type" type="text" id="type" name="type" value="pie">
        <label for="pie_data">Data Type: </label>
        <input type="search" id="pie_data" name="pie_data" list="data_type" autocomplete="off"  onchange="changePieDivisionsOptions()">
        <label for="pie_divisions">Slices: </label>
        <input type="search" id="pie_divisions" name="pie_divisions" autocomplete="off">
        <input type="submit" value="Make pie">
      </form>
    </div>
  </div>
  {% endif %}

  {% include "footer.html" %}
</body>

</html>