<header>
  <div.fixed class="content">
    <div class="title">
      M:tG Game Logger
    </div>
    <div class="navigation">
      <span>
        <a href="/">
          <button>
            Home
          </button>
        </a>
      </span>
      <span>
        <a href="data">
          <button>
            Data
          </button>
        </a>
      </span>
      <span>
        <a href="graphs">
          <button>
            Graphs
          </button>
        </a>
      </span>
    </div>
  </div>
</header>
