<header>
  <div class="title">
    M:tG Game Logger
  </div>
  <div class="navigation">
    <nav>
      <ul>
        <li>
          <a class="home" href="/">
            Home
          </a>
        </li>
        <li class="input_menu">
          <a class="input" href="/input">
            Input
          </a>
          <div class="input_submenu">
            <ul>
              <li>
                <a class="input_edit" href="/input/edit">
                  Edit
                </a>
              </li>
              <li>
                <a class="input_delete" href="/input/delete">
                  Delete
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a class="data" href="/data">
            Data
          </a>
        </li>
        <li>
          <a class="graphs" href="/graphs">
            Graphs
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>