{% extends "main.html" %}

  {% block head %}
  <link rel="stylesheet" type="text/css" href="../static/css/input.css">
  <link rel="stylesheet" type="text/css" href="../static/css/error.css">
  <link rel="stylesheet" type="text/css" href="../static/css/ci_dropdown.css">
  <script type="text/javascript" src="../static/js/input.js"></script>
  <script type="text/javascript" src="../static/js/ci_dropdown.js"></script>
  <title>M:tG Game Logger</title>
  {% endblock head %}

{% block body %}
<body pg-name="input" js="off">
  {% block error %}
  {% endblock error %}
  <div id="dropdown">
    Data type:
    <select name="data_types" id="data_types" onchange="toggleDataType()">
      <option value="" selected disabled hidden>Choose input data type</option>
      <option value="deck">Deck</option>
      <option value="game">Game</option>
      <option value="player">Player</option>
    </select>
  </div>

  <div id="data_inputs">
    <datalist id="colour_identities">
      {% for colour_identity in data["colour_identities"] %}
      <option value="{{ colour_identity.ci_name }} ({{ colour_identity.colours }})">
      {% endfor %}
    </datalist>
    <datalist id="decks">
      {% for deck in data["decks"] %}
      <option value="{{ deck.deck_name }} ({{ deck.player.player_name }})">
      {% endfor %}
    </datalist>
    <datalist id="games">
      {% for game in data["games"] %}
      <option value="{{ game.game_name }}">
      {% endfor %}
    </datalist>
    <datalist id="players">
      {% for player in data["players"] %}
      <option value="{{ player.player_name }}">
      {% endfor %}
    </datalist>

    {% if method == "create" %}
    <div class="data_input" id="deck">
      <h2>Create new deck</h2>
      <form action="/input" method="POST">
        <input class="type" type="text" id="type" name="type" value="deck">
        <label for="deck_name">Deck Name: </label>
        <input type="text" id="deck_name" name="deck_name" autocomplete="off" required>
        <label for="owner">Owner Name: </label>
        <input type="search" id="owner" name="owner" list="players" autocomplete="off">
        <div>
          Colour Identity:
          <div>
          {% include "ci_dropdown.html" %}
          </div>
        </div>
        <input type="submit" value="Create deck">
      </form>
    </div>

    <div class="data_input" id="game">
      <h2>Create new game</h2>
      Time must be in the format YYYY-MM-DD hh:mm:ss (date is required, time is optional. time is in 24 hour format - e.g. 18:30)
      <form action="/input" method="POST">
        <input class="type" type="text" id="type" name="type" value="game">
        <label for="start_time">Start Time: </label>
        <input type="text" id="start_time" name="start_time" autocomplete="off">
        <label for="end_time">End Time: </label>
        <input type="text" id="end_time" name="end_time" autocomplete="off">
        <div id="seats">
          <div id="player_1">
            <br>Player 1: 
            <label for="game_decks">Deck: </label>
            <input type="search" id="game_decks" name="game_decks" list="decks" autocomplete="off" required>
            <label for="game_players">Player: </label>
            <input type="search" id="game_players" name="game_players" list="players" autocomplete="off" required>
            <label for="game_ko_turns">KO Turn (leave blank for winner): </label>
            <input type="text" id="game_ko_turns" name="game_ko_turns" autocomplete="off">
          </div>
          <div id="player_2">
            <br>Player 2: 
            <label for="game_decks">Deck: </label>
            <input type="search" id="game_decks" name="game_decks" list="decks" autocomplete="off" required>
            <label for="game_players">Player: </label>
            <input type="search" id="game_players" name="game_players" list="players" autocomplete="off" required>
            <label for="game_ko_turns">KO Turn (leave blank for winner): </label>
            <input type="text" id="game_ko_turns" name="game_ko_turns" autocomplete="off">
          </div>
          <div id="player_3">
            <br>Player 3: 
            <label for="game_decks">Deck: </label>
            <input type="search" id="game_decks" name="game_decks" list="decks" autocomplete="off" required>
            <label for="game_players">Player: </label>
            <input type="search" id="game_players" name="game_players" list="players" autocomplete="off" required>
            <label for="game_ko_turns">KO Turn (leave blank for winner): </label>
            <input type="text" id="game_ko_turns" name="game_ko_turns" autocomplete="off">
          </div>
          <div id="player_4">
            <br>Player 4: 
            <label for="game_decks">Deck: </label>
            <input type="search" id="game_decks" name="game_decks" list="decks" autocomplete="off" required>
            <label for="game_players">Player: </label>
            <input type="search" id="game_players" name="game_players" list="players" autocomplete="off" required>
            <label for="game_ko_turns">KO Turn (leave blank for winner): </label>
            <input type="text" id="game_ko_turns" name="game_ko_turns" autocomplete="off">
          </div>
          <button type="button" id="remove_player" onclick="removePlayer(4)">Remove Player 4</button>
          <br><button type="button" id="add_player" onclick="addPlayer(5)">Add Player 5</button>
          <br><br>
          <br><input type="submit" value="Create game">
        </div>
      </form>
    </div>

    <div class="data_input" id="player">
      <h2>Create new player</h2>
      <form action="/input" method="POST">
        <input class="type" type="text" id="type" name="type" value="player">
        <label for="player_name">Player Name: </label>
        <input type="text" id="player_name" name="player_name" autocomplete="off" required>
        <input type="submit" value="Create player">
      </form>
    </div>

    {% elif method == "edit" %}
    <div class="data_input" id="deck">
      <h2>Update deck</h2>
      <form action="/input/edit" method="POST">
        <input class="type" type="text" id="type" name="type" value="deck">
        <label for="requested_deck">Deck to update: </label>
        <input type="search" id="requested_deck" name="requested_deck" list="decks" autocomplete="off" required><br>
        <label for="new_deck_name">Updated Deck Name: </label>
        <input type="text" id="new_deck_name" name="new_deck_name" autocomplete="off">
        <label for="new_owner">Updated Owner Name: </label>
        <input type="search" id="new_owner" name="new_owner" list="players" autocomplete="off">
        <div>
          Updated Colour Identity:
          <div>
          {% include "ci_dropdown.html" %}
          </div>
        </div>
        <input type="submit" value="Edit deck">
      </form>
    </div>

    <div class="data_input" id="game">
      <h2>Update game</h2>
      Time must be in the format YYYY-MM-DD hh:mm:ss (date is required, time is optional)
      <form action="/input/edit" method="POST">
        <input class="type" type="text" id="type" name="type" value="game">
        <label for="game_name">Game to update: </label>
        <input type="search" id="game_name" name="game_name" list="games" autocomplete="off" required><br>
        <label for="new_start_time">Updated Start Time: </label>
        <input type="text" id="new_start_time" name="new_start_time" autocomplete="off">
        <label for="new_end_time">Updated End Time: </label>
        <input type="text" id="new_end_time" name="new_end_time" autocomplete="off">
        <div id="player_1">
          <br>Player 1: 
          <label for="game_decks">Deck: </label>
          <input type="search" id="game_decks" name="game_decks" list="decks" autocomplete="off">
          <label for="game_players">Player: </label>
          <input type="search" id="game_players" name="game_players" list="players" autocomplete="off">
          <label for="game_ko_turns">KO Turn (leave blank for winner): </label>
          <input type="text" id="game_ko_turns" name="game_ko_turns" autocomplete="off">
        </div>
        <div id="player_2">
          <br>Player 2: 
          <label for="game_decks">Deck: </label>
          <input type="search" id="game_decks" name="game_decks" list="decks" autocomplete="off">
          <label for="game_players">Player: </label>
          <input type="search" id="game_players" name="game_players" list="players" autocomplete="off">
          <label for="game_ko_turns">KO Turn (leave blank for winner): </label>
          <input type="text" id="game_ko_turns" name="game_ko_turns" autocomplete="off">
        </div>
        <div id="player_3">
          <br>Player 3: 
          <label for="game_decks">Deck: </label>
          <input type="search" id="game_decks" name="game_decks" list="decks" autocomplete="off">
          <label for="game_players">Player: </label>
          <input type="search" id="game_players" name="game_players" list="players" autocomplete="off">
          <label for="game_ko_turns">KO Turn (leave blank for winner): </label>
          <input type="text" id="game_ko_turns" name="game_ko_turns" autocomplete="off">
        </div>
        <div id="player_4">
          <br>Player 4: 
          <label for="game_decks">Deck: </label>
          <input type="search" id="game_decks" name="game_decks" list="decks" autocomplete="off">
          <label for="game_players">Player: </label>
          <input type="search" id="game_players" name="game_players" list="players" autocomplete="off">
          <label for="game_ko_turns">KO Turn (leave blank for winner): </label>
          <input type="text" id="game_ko_turns" name="game_ko_turns" autocomplete="off">
        </div>
        <br><input type="submit" value="Edit game">
      </form>
    </div>

    <div class="data_input" id="player">
      <h2>Update player</h2>
      <form action="/input/edit" method="POST">
        <input class="type" type="text" id="type" name="type" value="player">
        <label for="player_name">Player to update: </label>
        <input type="search" id="player_name" name="player_name" list="players" autocomplete="off" required><br>
        <label for="new_player_name">Updated Player Name: </label>
        <input type="text" id="new_player_name" name="new_player_name" autocomplete="off" required>
        <input type="submit" value="Edit player">
      </form>
    </div>

    {% elif method == "delete" %}
    <div class="data_input" id="deck">
      <h2>Delete deck</h2>
      <form action="/input/delete" method="POST">
        <input class="type" type="text" id="type" name="type" value="deck">
        <label for="requested_deck">Deck Name: </label>
        <input type="search" id="requested_deck" name="requested_deck" list="decks" autocomplete="off" required>
        <input type="submit" value="Delete deck">
      </form>
    </div>

    <div class="data_input" id="game">
      <h2>Delete game</h2>
      <form action="/input/delete" method="POST">
        <input class="type" type="text" id="type" name="type" value="game">
        <label for="game_name">Game Time: </label>
        <input type="search" id="game_name" name="game_name" list="games" autocomplete="off" required>
        <input type="submit" value="Delete game">
      </form>
    </div>

    <div class="data_input" id="player">
      <h2>Delete player</h2>
      <form action="/input/delete" method="POST">
        <input class="type" type="text" id="type" name="type" value="player">
        <label for="player_name">Player Name: </label>
        <input type="search" id="player_name" name="player_name" list="players" autocomplete="off" required>
        <input type="submit" value="Delete player">
      </form>
    </div>
    {% endif %}
  </div>
</body>
{% endblock body %}
