<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="icon" type="img/png" href="../static/img/card_back.png">
  {% block head %}
  {% endblock head %}
</head>

<div class="container">
  {% include "header.html" %}
  {% block body %}
  {% endblock body %}
  {% include "footer.html" %}
</div>

</html>